@import '../../theme/_color.scss';

.project{
    padding: 0px;
    .header{
        height: 100px;
        padding: 20px;
        color: white;
        background: color('blue-grey','base');
        position:relative;

         .progress{
             position: absolute;
             bottom:0;
             left:0;
             height:10px;
         }
    }
    .body{
        padding: 10px;
        height: 250px;
        overflow-y: auto;

        .items{
            .item{
                display:block;
                padding: 10px;
                font-size: 1.2em;
                position: relative;
                border-bottom: .5px solid #ccc;

                .actions{
                    color:#424242;
                    position:absolute;
                    right: -10px;
                    top:5px;

                }
            }
            & .mat-checkbox-checked{
                color: #666666;
            }
        }
    }
}

.red{
    background: color('red','base');
}
.pink{
    background: color('pink','base');
}
.purple{
    background: color('purple','base');
}
.deep-purple{
    background: color('deep-purple','base');
}
.indigo{
    background: color('indigo','base');
}
.blue{
    background: color('blue','base');
}
.light-blue{
    background: color('light-blue','base');
}
.cyan{
    background: color('cyan','base');
}
.teal{
    background: color('teal','base');
}
.green{
    background: color('green','base');
}
.light-green{
    background: color('light-green','base');
}
.lime{
    background: color('lime','base');
}
.amber{
    background: color('amber','base');
}
.orange{
    background: color('orange','base');
}
.deep-orange{
    background: color('deep-orange','base');
}
.brown{
    background: color('brown','base');
}
.grey{
    background: color('grey','base');
}
.blue-grey{
    background: color('blue-grey','base');
}