<md-card class="project">
    <md-card-header class="header {{project.color}}">
        <h1>{{project.title}}</h1>
        <md-progress-bar 
            *ngIf="project.items"
            class="progress"
            [color]="'accent'"   
            [mode]="'determinate'"
            [value]="calcProgress()">
        </md-progress-bar>
        <div class="menu">
            <button md-icon-button [mdMenuTriggerFor]="menu">
                <md-icon>more_vert</md-icon>
            </button>
            <md-menu #menu="mdMenu">
                <button md-menu-item (click)="setProjectColor()">
                    <md-icon>invert_colors</md-icon>
                    <span>Change Color</span>
                </button>
                <button md-menu-item (click)="editProject(project)">
                    <md-icon>spellcheck</md-icon>
                    <span>Edit Project</span>
                </button>
                <button md-menu-item>
                    <md-icon>delete</md-icon>
                    <span>Delete Project</span>
                </button>
            </md-menu>
        </div>
    </md-card-header>
    <md-card-content class="body">
        <section class="items" [dragula]="'items-bag'">
            <div 
                class="item"  
                (mouseover)="item.actions = true;" (mouseleave)="item.actions = false;"
                *ngFor="let item of project.items"> 

                <md-checkbox 
                    class="check"  
                    [checked]="item.complete" 
                    (change)="checkItem($event,item)">
                    {{item.title}}
                </md-checkbox> 

                <div class="actions" *ngIf="item.actions">
                    <button md-icon-button ><md-icon >sort</md-icon></button>
                    <button md-icon-button (click)="editProject(item)"><md-icon >create</md-icon></button>
                </div>
            </div>
        </section>
    </md-card-content>
</md-card>