<md-card class="project">
    <md-card-header class="header {{project.color}}">
        <h1>{{project.title}}</h1>
        <md-progress-bar 
            *ngIf="project.items"
            class="progress"
            [color]="'accent'"   
            [mode]="'determinate'"
            [value]="calcProgress()">
        </md-progress-bar>
        <div class="menu">
            <button md-icon-button [mdMenuTriggerFor]="menu">
                <md-icon>more_vert</md-icon>
            </button>
            <md-menu #menu="mdMenu">
                <button md-menu-item (click)="setProjectColor()">
                    <md-icon>invert_colors</md-icon>
                    <span>Change Color</span>
                </button>
                <button md-menu-item disabled>
                    <md-icon>spellcheck</md-icon>
                    <span>Edit Project</span>
                </button>
                <button md-menu-item>
                    <md-icon>delete</md-icon>
                    <span>Delete Project</span>
                </button>
            </md-menu>
        </div>
    </md-card-header>
    <md-card-content class="body">
        <section class="items">
            <md-checkbox 
                class="item" 
                name="item" 
                [checked]="item.complete" 
                (change)="checkItem($event,item)"
                *ngFor="let item of project.items">
                {{item.title}}
                <md-icon (click)="editItem($evemt,item)">create</md-icon>
            </md-checkbox>
        </section>
    </md-card-content>
</md-card>